.main {
    font-family: 'Oxygen Mono', 'Helvetic Neue', 'Helvetica';
    width: 100%;
    margin: 0 auto;
    min-width: 954px;
    background: url(../img/gridbg.png) 50% 0;
}

h1.title {
    font-size: 3em;
    margin: 15px 0 10px 0;
    font-family: CabinSketch;
}
.content {
    padding: 15px 45px;
}

.margin-top-lg {margin-top:30px;}

.title-link {
    margin-top: 15px;
    color: #000;
    text-decoration: none;
}
.title-link:hover {
    text-decoration: none;
}
.location {
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bold;
    font-size: 1em;
}


.element {
    text-align: center;
}
.element img {
    width: 200px;
    height: 200px;
}
.element.core {
    display:flex;
    flex-wrap:wrap;
    width: 60%;
    margin: 0 auto;
}
.section {
    width:100%;
}
.section-title {
    font-size: 1.75em;
    margin: 15px;
    font-family: CabinSketch;
    text-transform: uppercase;
    font-weight:bold;
}
.job {
    margin:30px 0;
}
.details {
    display:flex;
    justify-content: space-between;
    text-align:left;
    align-items: baseline;
}
.details-text {
    line-height:1.25em;
}
.employer {
    font-family: CabinSketch;
    font-size:1.5em;
    padding:5px 0;
}
.position {
    font-family: CabinSketch;
    font-size:1.25em;
    font-weight:bold;
}
.history {
    font-family: CabinSketch;

}
